body  {
  font-family: "League Spartan", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.text-red{
    color: red;
}

.section{
    padding: 60px 0;
}

.section__title{
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 15px;
    color: #e31f26;
}

.section__subtitle{
    font-size: 25px;
    line-height: 45px;
    font-weight: 400;
    color: #2f2f2f;
}

.main-button{
    margin-top: 40px;
    padding: 15px 25px;
    color: #fff;
    font-size: 23px;
    line-height: 1.55;
    font-weight: 500;
    background-color: #e31f26;
    border: none;
}

.main-button:hover,
.main-button:focus
{
    border: 3px solid #e31f26;
    background-color: #ffffff00;
    color: #e31f26;
    transition: 0.5s ease;
}


/* HEADER START */
.navbar-brand {
  margin: 0 20px;
}

.navbar-collapse {
  flex-grow: 0;
}

.nav-link{
    font-size: 20px;
}
/* HEADER END */



/* INTRO START */
.intro{
    background-image: url("../images/Intro.jpg");
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 120px 0;
}

.intro__title{
    margin: 10px 0; 
    font-size: 80px;
    line-height: 85px;
    font-weight: 600px;
}
.intro__subtitle{
    font-size: 25px;
    line-height: 45px;
    font-weight: 400;
    color: #d7d7d7;
}
/* INTRO END */

/* ABOUT START */
.about__desc{
    font-size: 22px;
    line-height: 25px;
    font-weight: 400;
    color: #383838;
}
/* ABOUT END */

/* SERVICES START */
    .card{
        margin-bottom: 20px;
        min-height: 420px;
    }
/* SERVICES END */

/* GALLERY START */
.gallery .carousel-item img{
    height: 100vh;
    object-fit: cover;
}
/* GALLERY END */

/* CONTACT START */
.contact{
    display: flex;
    gap: 50px;
}
.contact__item{
    display: flex;
    align-items: end;
    justify-content: flex-end;
    gap: 20px;
}
.contact__img{
    max-width: 50px;
}
/* CONTACT END */

/* Footer */
.footer__navbar{
    flex-direction: column;
    gap: 10px;

}
.footer__desc{
    color: #919191;
}
